

<footer class="rounded-lg shadow m-4 bg-black/20 backdrop-blur-lg w-full max-w-280 mx-auto px-4 mb-10">
    <div class="w-full mx-auto max-w-7xl p-4 md:flex md:items-center md:justify-between">
      <span class="text-sm text-yellow-200/90 sm:text-center"><a href="https://www.linkedin.com/in/josé-muñoz-b1440a38a/" target="_blank" rel="noopener noreferrer" class="hover:underline">Gabriel Muñoz</a>
    </span>
    </div>
</footer>
